<div class="buy-view">
	<div id="buy" class="view">
<!-- 		<h2>Come Get Some</h2>
		<p>Order online and get your GO HABANERO hot sauce delivered to your door!</p>
		<div class="three-pack divider">
		    <div ng-repeat="sauce in sauces" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		      <div class="inner">
		        <div class="product">
		        	<img src="{{sauce.image}}" alt="" />
		        	<p class="title">{{sauce.title}}<p>
		        	<p class="description">{{sauce.description}}</p>
		        	<div class="purchase-container">
		        		<p class="price">
		        		<i ng-if="sauces[$index].addedToCart" class="glyphicon glyphicon-ok fall-in"></i>
		        		<input type="number" min="0" max="99" name="qty" value="{{sauce.qty}}" ng-model="sauce.qty" ng-change="update_qty($index)" />${{sauce.price}} 
		        		</p>
		        		<button class="btn btn-warning" ng-click="add_to_cart($index)">Add to Cart</button>
		        	</div>
		        </div>
		      </div>
		    </div>
		</div>-->
		<div class="col-xs-12">
			<h2>Come Get Some</h2>
			<p>Order online, coming soon!</p>
			<p>We're working hard on our online shopping cart, but for now, email or give us a call to place your order!</p>
			<p class="cta">Only $7 each!</p>
			<div class="order-btns">
				<a class="btn btn-order col-xs-12 col-sm-5" href="mailto:gohabanero@gmail.com">Order by E-Mail<br>( gohabanero@gmail.com )</a>
				<a class="btn btn-order col-xs-12 col-sm-5" href="tel:5079933365">Order by Phone<br>( 507-993-3365 )</a>
			</div>
			<div id="flavors" class="col-xs-12">
        	<div class="flavor col-xs-12 col-lg-4">
        		<h3 class="orange">Sweet Peach</h3>
        		<div class="rating orange">
	        		<i class="glyphicon glyphicon-fire disabled"></i>
	        		<i class="glyphicon glyphicon-fire"></i>
	        		<i class="glyphicon glyphicon-fire"></i>
	        		<i class="glyphicon glyphicon-fire"></i>
	        		<i class="glyphicon glyphicon-fire"></i>
        		</div>
        		<div class="divider"></div>
        		<div class="description">
        			Our flagship sauce, contains a blend of peaches that makes for the perfect balance of sweet and hot. Great on pizza and almost everything else!
        		</div>
        	</div>
        	<div class="flavor col-xs-12 col-lg-4">
        		<h3 class="green">Jalpeno Pear</h3>
        		<div class="rating green">
	        		<i class="glyphicon glyphicon-fire"></i>
	        		<i class="glyphicon glyphicon-fire"></i>
	        		<i class="glyphicon glyphicon-fire"></i>
	        		<i class="glyphicon glyphicon-fire"></i>
	        		<i class="glyphicon glyphicon-fire"></i>
        		</div>
        		<div class="divider"></div>
        		<div class="description">
        			Our signature green sauce contains pears, jalapenos and habaneros for extra heat.  Great on chicken!
        		</div>
        	</div>
        	<div class="flavor col-xs-12 col-lg-4">
        		<h3 class="red">Hot 'n' Fresh</h3>
        		<div class="rating red">
	        		<i class="glyphicon glyphicon-fire disabled"></i>
	        		<i class="glyphicon glyphicon-fire disabled"></i>
	        		<i class="glyphicon glyphicon-fire"></i>
	        		<i class="glyphicon glyphicon-fire"></i>
	        		<i class="glyphicon glyphicon-fire"></i>
        		</div>
        		<div class="divider"></div>
        		<div class="description">
        			Don't be scared off by the color of our red sauce, Hot 'n' Fresh is a tomato based sauce that is great with breakfast!
        		</div>
        	</div>
        </div>
		</div>
		 
	</div>
</div>