<div class="buy-view">
	<div id="buy" class="view">
		<h2>Come Get Some</h2>
		<p>Order online and get your GO HABANERO hot sauce delivered to your door!</p>
		<div class="three-pack divider">
		    
		    <div ng-repeat="sauce in sauces" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		      <div class="inner">
		        <div class="product">
		        	<img src="{{sauce.image}}" alt="" />
		        	<p class="title">{{sauce.title}}<p>
		        	<p class="description">{{sauce.description}}</p>
		        	<div class="purchase-container">
		        		<p class="price">
		        		<i ng-if="sauces[$index].addedToCart" class="glyphicon glyphicon-ok fall-in"></i>
		        		<input type="number" min="0" max="99" name="qty" value="{{sauce.qty}}" ng-model="sauce.qty" ng-change="update_qty($index)" />${{sauce.price}} 
		        		</p>
		        		<button class="btn btn-warning" ng-click="add_to_cart($index)">Add to Cart</button>
		        	</div>
		        </div>
		      </div>
		    </div>

		  </div><!--End Three Pack-->
	</div>
</div>