<div class="buy-view">
  <div id="buy" class="view">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="inner">
          <p style="
    color: #444444;
    font-size: 1.8em;
    font-family: 'Flaticon';
    margin-top: 100px;
    text-shadow: 2px 2px 316px #E08D26;
"><span style="
    font-size: 1.2em;
">GO HABANERO</span> hotsauce is a <span style="
    font-size: 1.1em;
">hand crafted sauce</span> made from only the freshest ingredients. Georgia peaches give the sauce a wonderful <span style="
    font-size: 1.4em;
">sweetness</span> that balances out the heat from the <span style="
    font-size: 1.4em;
">blazing hot</span>, vine ripened <span style="
    font-size: 1.2em;
">habanero peppers</span>.
  <br><br>  Produced and packaged locally in <span style="
    font-size: 1.2em;
">Rochester Minnesota</span>, this sauce is sure to become one of your favorites.  <span style="
    font-size: 1.2em;
">Master flavor engineer</span> Dean Steel is hard at work crafting new <span>GO HABANERO</span> flavor varieties that will make your <span style="
    font-size: 1.2em;
">tongue do a happy dance.</span> </p>
        </div>
      </div>    
    </div><!--End Two Pack-->
  </div>