<div class="home-view">
  <div class="jumbotron">
    <div class="container">
      <h1>Serious <span class="orange">Hot Sauce.</span></h1>
    </div>
  </div><!--End Jumbotron-->
  <div class="three-pack">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="inner">
        <a href="#/try"><div class="glyphicon glyphicon-fire"></div></a>
        <h2>Try</h2>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="inner">
        <a href="#/buy"><div class="glyphicon glyphicon-barcode"></div></a>
        <h2>Buy</h2>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="inner">
        <a href="#/follow"><div class="glyphicon glyphicon-thumbs-up"></div></a>
        <h2>Follow</h2>
      </div>
    </div>
  </div><!--End Three Pack-->
</div>