<div id="try" class="view">
<!--Temp Content-->
		<div class="col-xs-8 col-xs-offset-2 col-lg-12 col-lg-offset-0">
        <div class="inner">
        <h2>Our Sauces</h2>
        <div>
          <p class="try-temp"><span style="font-size: 1.2em;">GO HABANERO</span> hotsauce is a <span style="font-size: 1.1em;">hand crafted sauce</span> made from only the finest ingredients. A combination of fruits give these sauces a wonderful <span style="font-size: 1.4em;">sweetness</span> that balances out the heat from the <span style="font-size: 1.4em;">blazing hot</span>, vine ripened <span style="font-size: 1.2em;">habanero peppers</span>.
    Produced and packaged locally in <span style="font-size: 1.2em;">Rochester Minnesota</span>, this sauce is sure to become one of your favorites.  
    <br><br><span style="font-size: 1.2em;">Master flavor engineer</span> Dean Steel is hard at work crafting new <span>GO HABANERO</span> flavor varieties that will make your <span style="font-size: 1.2em;">tongue do a happy dance.</span> </p>
			</div>
        </div>
        <div id="flavors" class="col-xs-12">
        	<div class="flavor col-xs-12 col-lg-4">
        		<h3 class="orange">Sweet Peach</h3>
        		<div class="rating orange">
	        		<i class="glyphicon glyphicon-fire disabled"></i>
	        		<i class="glyphicon glyphicon-fire"></i>
	        		<i class="glyphicon glyphicon-fire"></i>
	        		<i class="glyphicon glyphicon-fire"></i>
	        		<i class="glyphicon glyphicon-fire"></i>
        		</div>
        		<div class="divider"></div>
        		<div class="description">
        			Our flagship sauce, contains a blend of peaches that makes for the perfect balance of sweet and hot. Great on pizza and almost everything else!
        		</div>
        	</div>
        	<div class="flavor col-xs-12 col-lg-4">
        		<h3 class="green">Jalpeno Pear</h3>
        		<div class="rating green">
	        		<i class="glyphicon glyphicon-fire"></i>
	        		<i class="glyphicon glyphicon-fire"></i>
	        		<i class="glyphicon glyphicon-fire"></i>
	        		<i class="glyphicon glyphicon-fire"></i>
	        		<i class="glyphicon glyphicon-fire"></i>
        		</div>
        		<div class="divider"></div>
        		<div class="description">
        			Our signature green sauce contains pears, jalapenos and habaneros for extra heat.  Great on chicken!
        		</div>
        	</div>
        	<div class="flavor col-xs-12 col-lg-4">
        		<h3 class="red">Hot 'n' Fresh</h3>
        		<div class="rating red">
	        		<i class="glyphicon glyphicon-fire disabled"></i>
	        		<i class="glyphicon glyphicon-fire disabled"></i>
	        		<i class="glyphicon glyphicon-fire"></i>
	        		<i class="glyphicon glyphicon-fire"></i>
	        		<i class="glyphicon glyphicon-fire"></i>
        		</div>
        		<div class="divider"></div>
        		<div class="description">
        			Don't be scared off by the color of our red sauce, Hot 'n' Fresh is a tomato based sauce that is great with breakfast!
        		</div>
        	</div>
        </div>
      </div>   
</div>