@import "../js/vendor/bootstrap/dist/css/bootstrap.css";
@import "la-babaca.css";

/*Variables*/
$orange:#FF9900;
$gray:#555555;

html, body{
	height:100%;
}
h1, h2, h3, h4, h5, h6, .title{
	font-family:'Flaticon';
	color:$gray;
}
h1{
	font-size:6em;
}
h2{
	font-size:4em;
}
.btn{
	border-radius:0;
    font-weight: bold;
    text-shadow: 0px 1px 1px #777;
    border:0 none;
    border-bottom:2px solid;

}
#gohabanero{
	display: block;
	width: 98%;
	min-height: 100%;
	margin:0 auto;
	padding-bottom:100px;
	overflow:auto;

	div.mini-cart{
		a{
			display:block;
			width:60px;
			height:20px;
			float:right;
			margin:20px;
			color:$orange;

			span{
				width:20px;
				height:100%;

			}
		}
	}
	
	div#cart_wrapper, div#checkout_wrapper{
		table{
			td{
				img{
					width:100px;
					height:100px;
					display:block;
					overflow: hidden;
				}
			}
		}

		div#cart_totals{
			float:right;
			p{
				text-align:right;
			}
		}
	}
	div#checkout_wrapper{
		button.checkout{
			width:100%;
			border:0 none;
			border-bottom:1px solid #cccccc;
			background:none;
			display:block;
			float:left;
			text-align:left;

			&.disabled{
				opacity:0.2;
			}
		}
		div.checkout_inner{
			display:block;
			width:100%;
			float:left;
			padding:10px;

			&.disabled{
				display:none;
			}
		}
		div.step1{
			display:block;
		}
		label{
			width:100%;
			margin:10px 0px;

			input{
				width:100%;
				padding:10px 20px;
				float:left;
			}
		}
	}
	tr.center-all{

		td{
			vertical-align: middle;
		}

	}
	.logo{
		position:absolute;
		top:5px;
		left:5px;
		z-index:9999;

		img{
			width:120px;
		}
	}
	.menu-right{
		position: absolute;
  		width: 0px;
  		top: 0;
  		right: 0;
  		bottom: 0;
  		background: #EFEFEF;
  		z-index: 1000;
  		text-align:center;
  		padding:20% 0 0 0;
  		display:block;
  		overflow:hidden;

  		img{
  			margin:20px 0px;
  		}

  		a{
  			text-decoration:none;
  			font-size:2.2em;
  			display:block;
  			color:#555555;
  			width:100%;
  			font-weight:100;
  			margin:10px;

			@media (max-width: 700px) {
				font-size:1.8em;
			}

			@media (max-width: 600px) {
				font-size:1.4em;
			}
			@media (max-width: 550px) {
				font-size:1.2em;
			}

  		}
	}
	nav{
		margin:0;
		background-color:#ffffff;
		border:0;
		a{
			&.navbar-brand{
				font-family:'Flaticon';
				font-size:3em;
				color:#555;

			}
		}
		div.navbar-header, div.navbar-collapse{
			padding:10px 0px;

			img{
				float:left;
				margin: -3px 0px 0px 10px;
			}
		}
		button.navbar-toggle{
			right:-5px;
			margin-right:0;
			display:block;
			position:absolute;
		}
	}
	span.orange{
		color:$orange;
	}
	.three-pack, .two-pack{
		display:block;
		overflow:hidden;

		div{
			&.col-lg-4, &.col-lg-6{
				padding:10px;
				text-align:center;
				position:relative;

				div.view{
					background: #ffffff;
					z-index: 999;
					width: 100%;
				}
			}
			&.inner{
				
				a{
					color:$orange;
				}
				h2{
					font-family:'Flaticon';
					font-size:4em;
					color:$gray;
				}
				h3{
					font-family:'Flaticon';
					font-size:2.5em;
					color:$gray;
				}
				div.glyphicon{
					font-size:10em;
				}
			}
		}
	}
	.two-pack{
		background:#efefef;
		img{
			width:80%;
			box-shadow:1px 2px 8px #555555;
			margin:20px 0px 40px 0px;
			border:10px solid #ffffff;
		}
	}
	.divider{
		border-bottom:1px solid #ccc;
		padding:0px 0px 20px 0px;
	}
	.jumbotron{
		text-align:center;
		background:url('../img/peppers.jpg') top center no-repeat;
		background-size:260px;
		background-position:50% 140px;
		height:320px;

		h1{
			font-family:'flaticon';
			color:#555;
			font-size:8em;
		}
	}
	div#buy{
		text-align:center;
		form{
			margin:60px 0px 0px 0px;
		}
		div.product{
			max-width:280px;
			margin:0 auto;
			p{
				&.title{
					font-size:2.25em;
				}
			}
			div.purchase-container{
				width:100%;
				p.price{
					font-size:1.25em;
					font-weight:bold;

				}
				input{
					width:40px;
					text-align:center;
				}
				button{
					display:block;
					clear:both;
					margin:0 auto;
				}
			}
		}
	}
	div#follow{
		padding:10px;
		img{
			width:48%;
			margin:10px;
		}	
	}
	div#try{
		div.glyphicon{
			font-size:6em;
			color:$gray;
		}	
	}

	div.spacer{
		width:80%;
		margin:60px auto;
		border-bottom:1px dashed #555555;

	}
}
div{
	&.col-lg-4, &.col-lg-6{
		padding:10px;
		text-align:center;
	}
	&.inner{
	}
}

.footer{
	padding:20px 0px;
	width:100%;
	background:#999999;
	color:#ffffff;
	overflow:auto;
	display:block;
	text-align:center;
	font-family:'Arial';
	font-weight:100;
	bottom:0;
	margin:-100px auto 0px;
	height:100px;
}

/*Animations*/
@keyframes fade-in{
	0%{opacity:0;}
	100%{opacity:1;}
}
@-webkit-keyframes fade-in{
	0%{opacity:0;}
	100%{opacity:1;}
}
@keyframes fade-out{
	0%{opacity:1;}
	100%{opacity:0;}
}
@-webkit-keyframes fade-out{
	0%{opacity:1;}
	100%{opacity:0;}
}
#view-wrapper{
	max-width:720px;
	display:block;
	margin:0 auto;
	position:relative;
	min-height:800px;
	padding-top:120px;
}
.main-view{
	transition:all 2s ease;
	-moz-transition:all 2s ease;
	-webkit-transition:all 2s ease;
	max-width:720px;

	&.ng-enter{
		.home-view, #cart_wrapper, #checkout_wrapper{
			-webkit-animation:fade-in 1s;
			animation:fade-in 1s;
			position:absolute;
	max-width:720px;

		}

	}
	&.ng-enter{
		.buy-view, #cart_wrapper, #checkout_wrapper{
			-webkit-animation:fade-in 1s;
			animation:fade-in 1s;
			position:absolute;
	max-width:720px;
		}
	}
	&.ng-leave{
		.home-view, #cart_wrapper, #checkout_wrapper{
			-webkit-animation:fade-out 0.5s;
			animation: fade-out 0.5s;
			-webkit-animation-fill-mode:forwards;
			animation-fill-mode:forwards;
			display:none;
			position:absolute;
	max-width:720px;
		}
	}
	&.ng-leave{
		.buy-view, #cart_wrapper, #checkout_wrapper{
			-webkit-animation:fade-out 0.5s;
			animation: fade-out 0.5s;
			-webkit-animation-fill-mode:forwards;
			animation-fill-mode:forwards;
			display:none;
			position:absolute;
	max-width:720px;
		}
	}
}

@media (max-width: 550px) {
	#gohabanero{
		.logo{
				position:absolute;
				top:5px;
				left:5px;
				z-index:9999;
				 img{
				 	width:60px;
				 }
		}

		.three-pack, .two-pack{
			div{
				&.col-lg-4, &.col-lg-6{
					width:100%;
					padding:10px;
					display:block;
				}
				&.inner{
					margin:0 auto;
				}
			}
		}
		.jumbotron{
			color:#555;
			text-align:center;
			background:url('../img/peppers.jpg') top center no-repeat;
			background-size: 300px;
  			background-position: 50% 80px;

			h1{
				font-family:'flaticon';
				color:#555;
				font-size:4em;
			}
		}

		span.orange{
			color:$orange;
		}
	}
	div{
		&.col-lg-4, &.col-lg-6{
			width:100%;
			padding:10px;
			display:block;
		}
		&.inner{
			margin:0 auto;
		}
	}	
}